@import "variables";

.projects-section {
  position: relative;
  & .section-heading {
    margin-bottom: 150px;
  }
}

.project-img {
  width: 40%;
  z-index: 10;
  margin: 50px;
  position: relative;
  & img {
    width: 80%;
    max-width: 700px;
    position: absolute;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    filter: drop-shadow(-5px 5px 18px rgba(0, 0, 0, 0.25));
    @include not-selectable();
    &:first-child {
      transform: translate(0, -100px);
    }
    &:nth-child(2) {
      transform: translate(135px, 0);
    }
    &:nth-child(3) {
      transform: translate(20px, 180px);
    }
  }
  & img:hover {
    cursor: pointer;
    z-index: 15;
    transition-delay: 100ms;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}

.img-left {
  & img:hover {
    transform: scale(1.3) translate(70px, 0);
  }
}

.img-right {
  & img:hover {
    transform: scale(1.3) translate(-70px, 0);
  }
}

.project-card {
  background-color: $primary-dark;
  color: white;
  min-height: 200px;
  max-height: 250px;
  min-width: 400px;
  width: 670px;
  padding: 60px 70px 0px 70px;
  font-size: 25px;
  line-height: 30px;
  position: relative;
  word-break: keep-all;
}

.project-card-right {
  margin-left: auto;
  justify-self: flex-end;
  border-radius: 40px 0px 0px 40px;
  text-align: right;
}

.project-card-left {
  margin-right: auto;
  justify-self: flex-start;
  border-radius: 0px 40px 40px 0px;
}

.project-area {
  display: flex;
  width: 100%;
  min-height: 650px;
  margin: 50px 0;
  &:last-of-type {
    margin-bottom: 60px;
  }
}

.hashtags {
  @include flex-box();
  font-size: 22px;
  width: 500px;
  height: 150px;
  background: rgba(160, 210, 235, 0.6);
  border-radius: 10px;
  color: #222;
  transform: translate(70px, 80px);
  padding: 10px 30px;
  & p {
    white-space: pre-wrap;
    word-break: keep-all;
  }
}
